@use './mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: var(--border-width) solid var(--primary);
  outline-offset: 1px;
}

html {
  font-family: var(--font-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 100%;
  line-height: 1.5;
  min-width: 20rem;
  margin: 0;
  padding: 0;
}

img,
video,
iframe {
  @include mixins.rounded-sm;
  max-width: 100%;
}

img,
video {
  @include mixins.rounded-sm;
  height: auto;
  max-width: 100%;
}

hr {
  background: var(--border);
  border: none;
  height: var(--border-width);
  margin: 1rem 0;
}

a,
a:visited {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

mark {
  @include mixins.rounded-sm;
  background-color: var(--mark);
  color: black;
  padding: 0.125rem 0.25rem;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-mono);
}

code {
  color: var(--code);
  font-size: 0.875rem;
}

kbd {
  @include mixins.rounded-sm;
  color: var(--foreground);
  border: var(--border-width) solid var(--border);
  border-bottom: 3px solid var(--border);
  padding: 0.125rem 0.25rem;
}

pre {
  max-width: 100%;
  overflow: auto;
}

pre code {
  color: var(--foreground);
}

details {
  @include mixins.rounded-sm;
  border: var(--border-width) solid var(--border);
  padding: 0.75rem 1rem;
}

summary {
  @include mixins.font-bold;
  cursor: pointer;
  padding: 0.75rem 1rem;
  margin: -0.75rem -1rem;
  word-break: break-all;
}

details[open] > summary + * {
  margin-top: 0;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

details[open] > :last-child {
  margin-bottom: 0;
}

blockquote {
  background: var(--blockquote-background);
  border-left: var(--blockquote-border-width) solid var(--blockquote-border);
  color: var(--blockquote-foreground);
  padding: 0.5rem 1rem;
}

blockquote > cite {
  color: var(--muted-foreground);
  display: block;
  font-size: 0.875rem;
  font-style: italic;
}

.pw-table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 0.75rem 1rem;
  text-align: start;
}

th {
  background-color: var(--muted);
  color: var(--muted-foreground);
  font-size: 0.875rem;
}

input:not([type='range']),
textarea,
select {
  appearance: none;
}

input,
textarea,
select,
button,
a.pw-button {
  @include mixins.rounded-sm;
  box-shadow: none;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.25;
  max-width: 100%;
  padding: 0.5rem;
}

input.fluid,
select.fluid,
textarea.fluid,
button.fluid,
a.pw-button.fluid {
  width: 100%;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'],
a.pw-button {
  appearance: none;
  background-color: var(--button-background);
  border: var(--border-width) solid var(--button-border);
  color: var(--button-foreground);
  line-height: 1.25;
  padding: 0.5rem;
  text-decoration: none;
}

input:disabled,
textarea:disabled,
select:disabled,
button[disabled] {
  background-color: var(--disabled);
  border-color: var(--disabled);
  color: var(--disabled-foreground);
  cursor: not-allowed;
}

button:enabled:hover,
a.pw-button:hover,
input[type='submit']:enabled:hover,
input[type='reset']:enabled:hover,
input[type='button']:enabled:hover {
  background-color: var(--button-hover-background);
  cursor: pointer;
}

input,
select,
textarea {
  background-color: var(--background);
  border: var(--border-width) solid var(--border);
  color: var(--foreground);
}

label {
  @include mixins.font-bold;
  color: var(--foreground);
  display: block;
  font-size: 0.875rem;
}

textarea:not([cols]) {
  width: 100%;
}

select:not([multiple]) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-size: 1rem 0.75rem;
  background-repeat: no-repeat;
  padding-inline-end: 2.25rem;
}

input[type='checkbox'],
input[type='radio'] {
  position: relative;
  vertical-align: middle;
  width: min-content;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
}

input[type='radio'] {
  @include mixins.rounded-full;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background-color: var(--foreground);
}

input[type='checkbox']:checked::after {
  @include mixins.rounded-none;
  background-color: transparent;
  border-bottom: 2px solid var(--background);
  border-left: 2px solid var(--background);
  content: ' ';
  font-size: 2rem;
  height: 6px;
  left: 2px;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 12px;
}

input[type='radio']:checked::after {
  @include mixins.rounded-full;
  background-color: var(--background);
  content: ' ';
  font-size: 2rem;
  height: 8px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 8px;
}

input[type='color'] {
  background: none;
  block-size: 2.5rem;
  border: none;
  inline-size: 2.5rem;
  padding: 0;
}
