@use 'sass:map';

// Font weight
@mixin font-light {
  font-weight: 300;
}
@mixin font-normal {
  font-weight: 400;
}
@mixin font-medium {
  font-weight: 500;
}
@mixin font-semi-bold {
  font-weight: 600;
}
@mixin font-bold {
  font-weight: 700;
}
@mixin font-black {
  font-weight: 900;
}

// Shadow
@mixin shadow-none {
  box-shadow: none;
}
@mixin shadow-xs {
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.25);
}
@mixin shadow-sm {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}
@mixin shadow-md {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}
@mixin shadow-lg {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
}
@mixin shadow-xl {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.25);
}

// Border radius
@mixin rounded-none {
  border-radius: 0;
}
@mixin rounded-xs {
  border-radius: 0.125rem;
}
@mixin rounded-sm {
  border-radius: 0.25rem;
}
@mixin rounded-md {
  border-radius: 0.375rem;
}
@mixin rounded-lg {
  border-radius: 0.5rem;
}
@mixin rounded-xl {
  border-radius: 0.75rem;
}
@mixin rounded-2xl {
  border-radius: 1rem;
}
@mixin rounded-3xl {
  border-radius: 1.5rem;
}
@mixin rounded-full {
  border-radius: 100%;
}

// Transition
@mixin transition {
  transition: all 0.3s ease;
}
@mixin transition-fast {
  transition: all 0.15s ease;
}
@mixin transition-slow {
  transition: all 0.5s ease;
}

// Breakpoints

$breakpoints: (
  'xs': 32rem,
  'sm': 40rem,
  'md': 48rem,
  'lg': 64rem,
  'xl': 80rem,
);

@mixin breakpoint($size) {
  @if map.has-key($breakpoints, $size) {
    $width: map.get($breakpoints, $size);

    @media only screen and (min-width: $width) {
      @content;
    }
  }
}
