@import './tailwind-colors';

@import 'mixins';
@import 'root';
@import 'defaults';
@import 'typography';
@import 'forms';

@import 'components/avatar';
@import 'components/badge';
@import 'components/breadcrumb';
@import 'components/button';
@import 'components/callout';
@import 'components/card';
@import 'components/container';
@import 'components/dialog';
@import 'components/input';
@import 'components/pagination';
@import 'components/spinner';

@import 'utils';
