@use '../node_modules/normalize.css/normalize.css';
@use './tailwind-colors';

@use 'root';
@use 'mixins';
@use 'defaults';
@use 'typography';
@use 'forms';

@use 'components/avatar';
@use 'components/badge';
@use 'components/breadcrumb';
@use 'components/button';
@use 'components/callout';
@use 'components/card';
@use 'components/container';
@use 'components/dialog';
@use 'components/input';
@use 'components/pagination';
@use 'components/spinner';

@use 'utils';
