@use './tailwind-colors';

// :root {
//   @each $map, $color in tailwind-colors.$tw-color-list {
//     @each $key, $value in $map {
//       --tw-#{$color}-#{$key}: #{$value};
//     }
//   }
// }

:root {
  --font-sans: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', 'Nimbus Sans', sans-serif;
  --font-mono: 'Consolas', 'Liberation Mono', 'Menlo', 'Monaco', 'Courier New', monospace;

  --background: #{tailwind-colors.$tw-gray-100};
  --foreground: #{tailwind-colors.$tw-gray-950};

  --border: #{tailwind-colors.$tw-gray-300};
  --border-width: 1px;

  --outline: var(--primary);
  --outline-offset: 1px;
  --outline-width: 1px;

  --primary: #{tailwind-colors.$tw-blue-600};
  --primary-foreground: #{tailwind-colors.$tw-blue-50};

  --accent: #{tailwind-colors.$tw-violet-600};
  --accent-foreground: #{tailwind-colors.$tw-violet-50};

  --success: #{tailwind-colors.$tw-green-600};
  --success-foreground: #{tailwind-colors.$tw-green-50};

  --warning: #{tailwind-colors.$tw-amber-600};
  --warning-foreground: #{tailwind-colors.$tw-amber-50};

  --error: #{tailwind-colors.$tw-red-600};
  --error-foreground: #{tailwind-colors.$tw-red-50};

  --info: #{tailwind-colors.$tw-sky-600};
  --info-foreground: #{tailwind-colors.$tw-sky-50};

  --muted: #{tailwind-colors.$tw-gray-200};
  --muted-foreground: #{tailwind-colors.$tw-gray-600};

  --selection: #{tailwind-colors.$tw-blue-200};
  --selection-foreground: var(--foreground);

  --mark: #{tailwind-colors.$tw-amber-100};
  --mark-foreground: #{tailwind-colors.$tw-amber-950};

  --avatar-fallback: var(--muted);
  --avatar-fallback-foreground: var(--muted-foreground);

  --badge: var(--muted);
  --badge-border: var(--border);
  --badge-foreground: var(--foreground);

  --blockquote: var(--muted);
  --blockquote-border: var(--primary);
  --blockquote-border-width: 0.25rem;
  --blockquote-foreground: var(--foreground);
  --cite-foreground: var(--muted-foreground);
  --cite-font-size: 0.875rem;

  --button: var(--muted);
  --button-foreground: var(--foreground);

  --callout: var(--muted);
  --callout-border: var(--border);
  --callout-foreground: var(--foreground);

  --card: var(--muted);
  --card-foreground: var(--foreground);

  --code: var(--muted);
  --code-font: var(--font-mono);
  --code-font-size: 0.875rem;
  --code-foreground: var(--foreground);
}

[data-theme='dark'] {
  --background: #{tailwind-colors.$tw-gray-900};
  --foreground: #{tailwind-colors.$tw-gray-100};
  --border: #{tailwind-colors.$tw-gray-700};

  --primary: #{tailwind-colors.$tw-blue-400};
  --primary-foreground: #{tailwind-colors.$tw-blue-950};

  --accent: #{tailwind-colors.$tw-violet-400};
  --accent-foreground: #{tailwind-colors.$tw-violet-950};

  --success: #{tailwind-colors.$tw-green-400};
  --success-foreground: #{tailwind-colors.$tw-green-950};

  --warning: #{tailwind-colors.$tw-amber-400};
  --warning-foreground: #{tailwind-colors.$tw-amber-950};

  --error: #{tailwind-colors.$tw-red-400};
  --error-foreground: #{tailwind-colors.$tw-red-950};

  --info: #{tailwind-colors.$tw-sky-400};
  --info-foreground: #{tailwind-colors.$tw-sky-950};

  --muted: #{tailwind-colors.$tw-gray-800};
  --muted-foreground: #{tailwind-colors.$tw-gray-400};

  --selection: #{tailwind-colors.$tw-blue-700};
}
