@use './tailwind-colors';

:root {
  @each $map, $color in tailwind-colors.$tw-color-list {
    @each $key, $value in $map {
      --tw-#{$color}-#{$key}: #{$value};
    }
  }
}

:root {
  --font-sans: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', 'Nimbus Sans', sans-serif;
  --font-mono: 'Consolas', 'Liberation Mono', 'Menlo', 'Monaco', 'Courier New', monospace;

  --border-width: 1px;
  --outline-width: 1px;

  --background: white;
  --foreground: var(--tw-gray-950);
  --border: var(--tw-gray-200);

  --muted: var(--tw-gray-100);
  --muted-foreground: var(--tw-gray-500);

  --primary: var(--tw-emerald-500);
  --primary-foreground: white;

  --code: var(--tw-rose-600);
  --mark: var(--tw-amber-100);
  --error: var(--tw-red-600);

  --avatar-fallback-background: var(--muted);
  --avatar-fallback-foreground: var(--muted-foreground);

  --badge-background: var(--muted);
  --badge-border: var(--border);
  --badge-foreground: var(--foreground);

  --blockquote-background: var(--muted);
  --blockquote-border: var(--primary);
  --blockquote-border-width: 0.25rem;
  --blockquote-cite-foreground: var(--muted-foreground);
  --blockquote-foreground: var(--foreground);

  --button-background: var(--tw-gray-100);
  --button-border: var(--border);
  --button-foreground: var(--foreground);

  --callout-background: var(--muted);
  --callout-border: var(--border);
  --callout-foreground: var(--foreground);
}

[data-theme='dark'] {
  --background: var(--tw-gray-900);
  --foreground: var(--tw-gray-50);
  --border: var(--tw-gray-700);

  --muted: var(--tw-gray-800);
  --muted-foreground: var(--tw-gray-400);

  --primary: var(--tw-emerald-300);
  --primary-foreground: var(--background);

  --code: var(--tw-rose-400);
  --mark: var(--tw-amber-100);
  --error: var(--tw-red-400);

  --button-background: var(--tw-gray-800);
  --button-border: var(--border);
  --button-foreground: var(--foreground);
}
