:root {
  @each $map, $color in $oc-color-list {
    @each $key, $value in $map {
      --oc-#{$color}-#{$key}: #{$value};
      --oc-#{$color}-#{$key}-rgb: #{red($value)}, #{green($value)},
        #{blue($value)};
    }
  }
  --primary-0: #{$oc-indigo-0};
  --primary-1: #{$oc-indigo-1};
  --primary-2: #{$oc-indigo-2};
  --primary-3: #{$oc-indigo-3};
  --primary-4: #{$oc-indigo-4};
  --primary-5: #{$oc-indigo-5};
  --primary-6: #{$oc-indigo-6};
  --primary-7: #{$oc-indigo-7};
  --primary-8: #{$oc-indigo-8};
  --primary-9: #{$oc-indigo-9};
}
