@use './tailwind-colors';

$theme-colors: (
  surface,
  elevated,
  muted,
  foreground,
  muted-foreground,
  border,
  primary,
  primary-foreground,
  neutral,
  neutral-foreground,
  accent,
  accent-foreground,
  info,
  info-foreground,
  success,
  success-foreground,
  warning,
  warning-foreground,
  error,
  error-foreground,
  selection,
  selection-foreground
);

:root {
  // theme colors

  --surface: #{tailwind-colors.$tw-gray-100};
  --elevated: #{tailwind-colors.$tw-gray-50};
  --muted: #{tailwind-colors.$tw-gray-200};
  --foreground: #{tailwind-colors.$tw-gray-950};
  --muted-foreground: #{tailwind-colors.$tw-gray-600};
  --border: #{tailwind-colors.$tw-gray-300};

  --primary: #{tailwind-colors.$tw-blue-600};
  --primary-foreground: #{tailwind-colors.$tw-blue-50};

  --accent: #{tailwind-colors.$tw-slate-600};
  --accent-foreground: #{tailwind-colors.$tw-slate-50};

  --neutral: #{tailwind-colors.$tw-gray-900};
  --neutral-foreground: #{tailwind-colors.$tw-gray-50};

  --info: #{tailwind-colors.$tw-sky-600};
  --info-foreground: #{tailwind-colors.$tw-sky-50};

  --success: #{tailwind-colors.$tw-green-600};
  --success-foreground: #{tailwind-colors.$tw-green-50};

  --warning: #{tailwind-colors.$tw-amber-600};
  --warning-foreground: #{tailwind-colors.$tw-amber-50};

  --error: #{tailwind-colors.$tw-red-600};
  --error-foreground: #{tailwind-colors.$tw-red-50};

  --selection: #{tailwind-colors.$tw-blue-200};
  --selection-foreground: var(--foreground);

  // configuration

  --border-width: 1px;
  --font-mono: 'Consolas', 'Liberation Mono', 'Menlo', 'Monaco', 'Courier New', monospace;
  --font-sans: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', 'Nimbus Sans', sans-serif;
  --outline: var(--primary);
  --outline-offset: 1px;
  --outline-width: 2px;

  --radius: var(--radius-md);
  --radius-step: 0.125rem;
  --radius-xs: calc(var(--radius-step) * 0.5);
  --radius-sm: calc(var(--radius-step) * 1);
  --radius-md: calc(var(--radius-step) * 2);
  --radius-lg: calc(var(--radius-step) * 3);
  --radius-xl: calc(var(--radius-step) * 4);
  --radius-2xl: calc(var(--radius-step) * 8);
  --radius-3xl: calc(var(--radius-step) * 12);
  --radius-4xl: calc(var(--radius-step) * 16);

  --shadow: rgba(0, 0, 0, 0.1);
  --shadow-xs: 0 1px 2px var(--shadow);
  --shadow-sm: 0 2px 4px var(--shadow);
  --shadow-md: 0 4px 8px var(--shadow);
  --shadow-lg: 0 8px 16px var(--shadow);
  --shadow-xl: 0 16px 24px var(--shadow);

  // components

  --anchor-foreground: var(--primary);

  --avatar-fallback: var(--muted);
  --avatar-fallback-foreground: var(--muted-foreground);

  --badge: var(--muted);
  --badge-foreground: var(--foreground);

  --blockquote: var(--muted);
  --blockquote-border: var(--primary);
  --blockquote-border-width: 0.25rem;
  --blockquote-foreground: var(--foreground);
  --cite-foreground: var(--muted-foreground);
  --cite-font-size: 0.875rem;

  --button: var(--muted);
  --button-foreground: var(--foreground);

  --callout: var(--muted);
  --callout-foreground: var(--foreground);

  --card: var(--elevated);
  --card-foreground: var(--foreground);

  --code: var(--surface);
  --code-foreground: var(--foreground);
  --code-font: var(--font-mono);
  --code-font-size: 0.875rem;
  --code-inline: var(--muted);
  --code-inline-foreground: var(--foreground);

  --details: var(--elevated);
  --details-foreground: var(--foreground);
  --summary: var(--muted);
  --summary-foreground: var(--foreground);

  --dialog: var(--elevated);
  --dialog-foreground: var(--foreground);
  --dialog-header: var(--muted);
  --dialog-header-foreground: var(--foreground);

  --input: var(--surface);
  --input-foreground: var(--foreground);

  --label-foreground: var(--foreground);
  --label-font-size: 0.875rem;

  --mark: var(--warning);
  --mark-foreground: var(--warning-foreground);

  --spinner: var(--primary);
}

[data-theme='dark'] {
  --surface: #{tailwind-colors.$tw-gray-950};
  --elevated: #{tailwind-colors.$tw-gray-900};
  --muted: #{tailwind-colors.$tw-gray-800};
  --foreground: #{tailwind-colors.$tw-gray-50};
  --muted-foreground: #{tailwind-colors.$tw-gray-400};
  --border: #{tailwind-colors.$tw-gray-700};

  --primary: #{tailwind-colors.$tw-blue-400};
  --primary-foreground: #{tailwind-colors.$tw-blue-950};

  --accent: #{tailwind-colors.$tw-slate-400};
  --accent-foreground: #{tailwind-colors.$tw-slate-950};

  --neutral: #{tailwind-colors.$tw-gray-100};
  --neutral-foreground: #{tailwind-colors.$tw-gray-950};

  --info: #{tailwind-colors.$tw-sky-400};
  --info-foreground: #{tailwind-colors.$tw-sky-950};

  --success: #{tailwind-colors.$tw-green-400};
  --success-foreground: #{tailwind-colors.$tw-green-950};

  --warning: #{tailwind-colors.$tw-amber-400};
  --warning-foreground: #{tailwind-colors.$tw-amber-950};

  --error: #{tailwind-colors.$tw-red-400};
  --error-foreground: #{tailwind-colors.$tw-red-950};

  --selection: #{tailwind-colors.$tw-blue-700};
}
