// display

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.inline-flex {
  display: inline-flex;
}

// object fit & position

.object {
  &-contain {
    object-fit: contain;
  }
  &-cover {
    object-fit: cover;
  }
  &-fill {
    object-fit: fill;
  }
  &-none {
    object-fit: none;
  }
  &-scale-down {
    object-fit: scale-down;
  }
  &-bottom {
    object-position: bottom;
  }
  &-center {
    object-position: center;
  }
  &-left {
    object-position: left;
  }
  &-left-bottom {
    object-position: left bottom;
  }
  &-left-top {
    object-position: left top;
  }
  &-right {
    object-position: right;
  }
  &-right-bottom {
    object-position: right bottom;
  }
  &-right-top {
    object-position: right top;
  }
  &-top {
    object-position: top;
  }
}

// overflow

.overflow {
  &-auto {
    overflow: auto;
  }
  &-hidden {
    overflow: hidden;
  }
  &-visible {
    overflow: visible;
  }
  &-scroll {
    overflow: scroll;
  }
  &-x-auto {
    overflow-x: auto;
  }
  &-y-auto {
    overflow-y: auto;
  }
  &-x-hidden {
    overflow-x: hidden;
  }
  &-y-hidden {
    overflow-y: hidden;
  }
  &-x-visible {
    overflow-x: visible;
  }
  &-y-visible {
    overflow-y: visible;
  }
  &-x-scroll {
    overflow-x: scroll;
  }
  &-y-scroll {
    overflow-y: scroll;
  }
}

// position

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

// visibility

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

// z-index

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-auto {
  z-index: auto;
}

// padding

@for $i from 0 through 12 {
  .pt-#{$i} {
    padding-top: $i * 0.25rem;
  }
  .pb-#{$i} {
    padding-bottom: $i * 0.25rem;
  }
  .pl-#{$i} {
    padding-left: $i * 0.25rem;
  }
  .pr-#{$i} {
    padding-right: $i * 0.25rem;
  }
  .px-#{$i} {
    padding-left: $i * 0.25rem;
    padding-right: $i * 0.25rem;
  }
  .py-#{$i} {
    padding-top: $i * 0.25rem;
    padding-bottom: $i * 0.25rem;
  }
  .p-#{$i} {
    padding: $i * 0.25rem;
  }
}

// margin

@for $i from 0 through 12 {
  .mt-#{$i} {
    margin-top: $i * 0.25rem;
  }
  .mb-#{$i} {
    margin-bottom: $i * 0.25rem;
  }
  .ml-#{$i} {
    margin-left: $i * 0.25rem;
  }
  .mr-#{$i} {
    margin-right: $i * 0.25rem;
  }
  .mx-#{$i} {
    margin-left: $i * 0.25rem;
    margin-right: $i * 0.25rem;
  }
  .my-#{$i} {
    margin-top: $i * 0.25rem;
    margin-bottom: $i * 0.25rem;
  }
  .m-#{$i} {
    margin: $i * 0.25rem;
  }
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// cursor

.cursor {
  &-auto {
    cursor: auto;
  }
  &-default {
    cursor: default;
  }
  &-pointer {
    cursor: pointer;
  }
  &-wait {
    cursor: wait;
  }
  &-text {
    cursor: text;
  }
  &-move {
    cursor: move;
  }
  &-help {
    cursor: help;
  }
  &-not-allowed {
    cursor: not-allowed;
  }
}

// resize

.resize {
  resize: both;

  &-none {
    resize: none;
  }
  &-y {
    resize: vertical;
  }
  &-x {
    resize: horizontal;
  }
}

// select

.select {
  &-none {
    user-select: none;
  }
  &-text {
    user-select: text;
  }
  &-all {
    user-select: all;
  }
  &-auto {
    user-select: auto;
  }
}

// shadow

.shadow {
  &-none {
    @include shadow-none;
  }
  &-xs {
    @include shadow-xs;
  }
  &-sm {
    @include shadow-sm;
  }
  &-md {
    @include shadow-md;
  }
  &-lg {
    @include shadow-lg;
  }
  &-xl {
    @include shadow-xl;
  }
}

// radius

.radius {
  &-none {
    @include radius-none;
  }
  &-xs {
    @include radius-xs;
  }
  &-sm {
    @include radius-sm;
  }
  &-md {
    @include radius-md;
  }
  &-lg {
    @include radius-lg;
  }
  &-xl {
    @include radius-xl;
  }
}

// image

.image {
  &-cover {
    object-fit: cover;
  }
  &-contain {
    object-fit: contain;
  }
  &-invert {
    filter: invert(1);
  }
}

// grid

.grid {
  display: grid;

  @for $i from 1 through 12 {
    &-cols-#{$i} {
      grid-template-columns: repeat($i, minmax(0, 1fr));
    }

    @each $key, $value in $breakpoints {
      &-cols-#{$key}-#{$i} {
        @include breakpoint($key) {
          grid-template-columns: repeat($i, minmax(0, 1fr));
        }
      }
    }
  }

  @for $i from 1 through 12 {
    &-rows-#{$i} {
      grid-template-rows: repeat($i, minmax(0, 1fr));
    }

    @each $key, $value in $breakpoints {
      &-rows-#{$key}-#{$i} {
        @include breakpoint($key) {
          grid-template-rows: repeat($i, minmax(0, 1fr));
        }
      }
    }
  }
}

// gap

@for $i from 0 through 12 {
  .gap-#{$i} {
    gap: $i * 0.25rem;
  }

  @each $key, $value in $breakpoints {
    .gap-#{$key}-#{$i} {
      @include breakpoint($key) {
        gap: $i * 0.25rem;
      }
    }
  }
}

// flex

.flex {
  display: flex;

  @for $i from 1 through 12 {
    &-#{$i} {
      flex: $i $i 0%;
    }
  }

  &-row {
    flex-direction: row;
  }

  @each $key, $value in $breakpoints {
    &-row-#{$key} {
      @include breakpoint($key) {
        flex-direction: row;
      }
    }
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  @each $key, $value in $breakpoints {
    &-row-reverse-#{$key} {
      @include breakpoint($key) {
        flex-direction: row-reverse;
      }
    }
  }

  &-col {
    flex-direction: column;
  }

  @each $key, $value in $breakpoints {
    &-col-#{$key} {
      @include breakpoint($key) {
        flex-direction: column;
      }
    }
  }

  &-col-reverse {
    flex-direction: column-reverse;
  }

  @each $key, $value in $breakpoints {
    &-col-reverse-#{$key} {
      @include breakpoint($key) {
        flex-direction: column-reverse;
      }
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-auto {
    flex: 1 1 auto;
  }

  &-initial {
    flex: 0 1 auto;
  }

  &-none {
    flex: none;
  }

  &-grow {
    flex-grow: 1;
  }

  &-grow-0 {
    flex-grow: 0;
  }

  &-shrink {
    flex-shrink: 1;
  }

  &-shrink-0 {
    flex-shrink: 0;
  }
}

// justify content

.justify {
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-evenly {
    justify-content: space-evenly;
  }
}

// justify items

.justify-items {
  &-start {
    justify-items: flex-start;
  }
  &-end {
    justify-items: flex-end;
  }
  &-center {
    justify-items: center;
  }
  &-stretch {
    justify-items: stretch;
  }
}

// align items

.items {
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-center {
    align-items: center;
  }
  &-stretch {
    align-items: stretch;
  }
  &-baseline {
    align-items: baseline;
  }
}

// align content

.content {
  &-start {
    align-content: flex-start;
  }
  &-end {
    align-content: flex-end;
  }
  &-center {
    align-content: center;
  }
  &-between {
    align-content: space-between;
  }
  &-around {
    align-content: space-around;
  }
  &-stretch {
    align-content: stretch;
  }
}

// align self

.self {
  &-auto {
    align-self: auto;
  }
  &-start {
    align-self: flex-start;
  }
  &-end {
    align-self: flex-end;
  }
  &-center {
    align-self: center;
  }
  &-stretch {
    align-self: stretch;
  }
  &-baseline {
    align-self: baseline;
  }
}

// text

$text-sizes: (
  'xxs': 0.625rem,
  'xs': 0.75rem,
  'sm': 0.875rem,
  'md': 1rem,
  'lg': 1.25rem,
  'xl': 1.5rem,
  'xxl': 2rem,
);

.text {
  &-muted {
    color: var(--muted-foreground);
  }
  &-error {
    color: var(--error);
  }
  &-primary {
    color: var(--primary);
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
  &-underline {
    text-decoration: underline;
  }
  &-line-through {
    text-decoration: line-through;
  }
  &-no-underline {
    text-decoration: none;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @each $name, $value in $text-sizes {
    &-#{$name} {
      font-size: $value;
    }
  }
}

// font

$font-weights: (
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'black': 900,
);

.font {
  @each $name, $value in $font-weights {
    &-weight-#{$name} {
      font-weight: $value;
    }
  }
}
