@use 'mixins';
@use 'tailwind-colors';

// display

.hidden {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

// position

.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}

// cursor

.cursor {
  &-auto {
    cursor: auto;
  }
  &-default {
    cursor: default;
  }
  &-pointer {
    cursor: pointer;
  }
  &-wait {
    cursor: wait;
  }
  &-text {
    cursor: text;
  }
  &-move {
    cursor: move;
  }
  &-help {
    cursor: help;
  }
  &-not-allowed {
    cursor: not-allowed;
  }
}

// visibility

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

// overflow

.overflow {
  &-auto {
    overflow: auto;
  }
  &-hidden {
    overflow: hidden;
  }
  &-visible {
    overflow: visible;
  }
  &-scroll {
    overflow: scroll;
  }
  &-x-auto {
    overflow-x: auto;
  }
  &-y-auto {
    overflow-y: auto;
  }
  &-x-hidden {
    overflow-x: hidden;
  }
  &-y-hidden {
    overflow-y: hidden;
  }
  &-x-visible {
    overflow-x: visible;
  }
  &-y-visible {
    overflow-y: visible;
  }
  &-x-scroll {
    overflow-x: scroll;
  }
  &-y-scroll {
    overflow-y: scroll;
  }
}

// object fit & position

.object {
  &-contain {
    object-fit: contain;
  }
  &-cover {
    object-fit: cover;
  }
  &-fill {
    object-fit: fill;
  }
  &-none {
    object-fit: none;
  }
  &-scale-down {
    object-fit: scale-down;
  }
  &-bottom {
    object-position: bottom;
  }
  &-center {
    object-position: center;
  }
  &-left {
    object-position: left;
  }
  &-left-bottom {
    object-position: left bottom;
  }
  &-left-top {
    object-position: left top;
  }
  &-right {
    object-position: right;
  }
  &-right-bottom {
    object-position: right bottom;
  }
  &-right-top {
    object-position: right top;
  }
  &-top {
    object-position: top;
  }
}

// opacity

@for $i from 0 through 100 {
  @if $i % 10 == 0 {
    .opacity-#{$i} {
      opacity: $i;
    }
  }
}

// z-index

@for $i from 0 through 100 {
  @if $i % 10 == 0 {
    .z-#{$i} {
      z-index: $i;
    }
  }
}

// resize

.resize {
  resize: both;

  &-none {
    resize: none;
  }
  &-y {
    resize: vertical;
  }
  &-x {
    resize: horizontal;
  }
}

// select

.select {
  &-none {
    user-select: none;
  }
  &-text {
    user-select: text;
  }
  &-all {
    user-select: all;
  }
  &-auto {
    user-select: auto;
  }
}

// shadow

.shadow {
  &-none {
    @include mixins.shadow-none;
  }
  &-xs {
    @include mixins.shadow-xs;
  }
  &-sm {
    @include mixins.shadow-sm;
  }
  &-md {
    @include mixins.shadow-md;
  }
  &-lg {
    @include mixins.shadow-lg;
  }
  &-xl {
    @include mixins.shadow-xl;
  }
}

// rounded

.rounded {
  @include mixins.rounded-sm;

  &-none {
    @include mixins.rounded-none;
  }
  &-xs {
    @include mixins.rounded-xs;
  }
  &-sm {
    @include mixins.rounded-sm;
  }
  &-md {
    @include mixins.rounded-md;
  }
  &-lg {
    @include mixins.rounded-lg;
  }
  &-xl {
    @include mixins.rounded-xl;
  }
  &-2xl {
    @include mixins.rounded-2xl;
  }
  &-3xl {
    @include mixins.rounded-3xl;
  }
  &-full {
    @include mixins.rounded-full;
  }
}

// grid

.grid {
  display: grid;

  @for $i from 1 through 12 {
    &-cols-#{$i} {
      grid-template-columns: repeat($i, minmax(0, 1fr));
    }
  }

  @for $i from 1 through 12 {
    &-rows-#{$i} {
      grid-template-rows: repeat($i, minmax(0, 1fr));
    }
  }
}

// flex

.flex {
  @for $i from 1 through 12 {
    &-#{$i} {
      flex: $i $i 0%;
    }
  }

  &-row {
    flex-direction: row;
  }
  &-row-reverse {
    flex-direction: row-reverse;
  }
  &-col {
    flex-direction: column;
  }
  &-col-reverse {
    flex-direction: column-reverse;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
}

// justify content

.justify {
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-evenly {
    justify-content: space-evenly;
  }
}

// gap

@for $i from 0 through 16 {
  .gap-#{$i} {
    gap: $i * 0.25rem;
  }
}

// justify items

.justify-items {
  &-start {
    justify-items: flex-start;
  }
  &-end {
    justify-items: flex-end;
  }
  &-center {
    justify-items: center;
  }
  &-stretch {
    justify-items: stretch;
  }
}

// align items

.items {
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-center {
    align-items: center;
  }
  &-stretch {
    align-items: stretch;
  }
  &-baseline {
    align-items: baseline;
  }
}

// align content

.content {
  &-start {
    align-content: flex-start;
  }
  &-end {
    align-content: flex-end;
  }
  &-center {
    align-content: center;
  }
  &-between {
    align-content: space-between;
  }
  &-around {
    align-content: space-around;
  }
  &-stretch {
    align-content: stretch;
  }
}

// align self

.self {
  &-auto {
    align-self: auto;
  }
  &-start {
    align-self: flex-start;
  }
  &-end {
    align-self: flex-end;
  }
  &-center {
    align-self: center;
  }
  &-stretch {
    align-self: stretch;
  }
  &-baseline {
    align-self: baseline;
  }
}

// bg

.bg {
  @each $map, $color in tailwind-colors.$tw-color-list {
    @each $key, $value in $map {
      &-#{$color}-#{$key} {
        background-color: #{$value};
      }
    }
  }
}

// border

.border {
  @each $map, $color in tailwind-colors.$tw-color-list {
    @each $key, $value in $map {
      &-#{$color}-#{$key} {
        border-color: #{$value};
      }
    }
  }
}

// text

$text-sizes: (
  'xxs': 0.625rem,
  'xs': 0.75rem,
  'sm': 0.875rem,
  'md': 1rem,
  'lg': 1.25rem,
  'xl': 1.5rem,
  'xxl': 2rem,
);

.text {
  &-muted {
    color: var(--muted-foreground);
  }
  &-error {
    color: var(--error);
  }
  &-primary {
    color: var(--primary);
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
  &-underline {
    text-decoration: underline;
  }
  &-line-through {
    text-decoration: line-through;
  }
  &-no-underline {
    text-decoration: none;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @each $name, $value in $text-sizes {
    &-#{$name} {
      font-size: $value;
    }
  }
  @each $map, $color in tailwind-colors.$tw-color-list {
    @each $key, $value in $map {
      &-#{$color}-#{$key} {
        color: #{$value};
      }
    }
  }
}

// font

$font-weights: (
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'black': 900,
);

.font {
  @each $name, $value in $font-weights {
    &-#{$name} {
      font-weight: $value;
    }
  }
}

// margin

.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.m-auto {
  margin: auto;
}

@for $i from 0 through 16 {
  .mt-#{$i} {
    margin-top: $i * 0.25rem;
  }
  .mb-#{$i} {
    margin-bottom: $i * 0.25rem;
  }
  .ml-#{$i} {
    margin-left: $i * 0.25rem;
  }
  .mr-#{$i} {
    margin-right: $i * 0.25rem;
  }
  .mx-#{$i} {
    margin-left: $i * 0.25rem;
    margin-right: $i * 0.25rem;
  }
  .my-#{$i} {
    margin-top: $i * 0.25rem;
    margin-bottom: $i * 0.25rem;
  }
  .m-#{$i} {
    margin: $i * 0.25rem;
  }
}

// padding

@for $i from 0 through 16 {
  .pt-#{$i} {
    padding-top: $i * 0.25rem;
  }
  .pb-#{$i} {
    padding-bottom: $i * 0.25rem;
  }
  .pl-#{$i} {
    padding-left: $i * 0.25rem;
  }
  .pr-#{$i} {
    padding-right: $i * 0.25rem;
  }
  .px-#{$i} {
    padding-left: $i * 0.25rem;
    padding-right: $i * 0.25rem;
  }
  .py-#{$i} {
    padding-top: $i * 0.25rem;
    padding-bottom: $i * 0.25rem;
  }
  .p-#{$i} {
    padding: $i * 0.25rem;
  }
}

// responsive utilities

@each $key, $value in mixins.$breakpoints {
  // display
  @include mixins.breakpoint($key) {
    .#{$key}\:hidden {
      display: none;
    }
    .#{$key}\:block {
      display: block;
    }
    .#{$key}\:inline-block {
      display: inline-block;
    }
    .#{$key}\:inline {
      display: inline;
    }
    .#{$key}\:flex {
      display: flex;
    }
    .#{$key}\:inline-flex {
      display: inline-flex;
    }

    // position

    .#{$key}\:static {
      position: static;
    }
    .#{$key}\:fixed {
      position: fixed;
    }
    .#{$key}\:absolute {
      position: absolute;
    }
    .#{$key}\:relative {
      position: relative;
    }
    .#{$key}\:sticky {
      position: sticky;
    }

    // visibility

    .#{$key}\:visible {
      visibility: visible;
    }
    .#{$key}\:invisible {
      visibility: hidden;
    }

    // grid

    @for $i from 1 through 12 {
      .#{$key}\:grid-cols-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
      }
    }

    @for $i from 1 through 12 {
      .#{$key}\:grid-rows-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }
    }

    // gap

    @for $i from 0 through 16 {
      .#{$key}\:gap-#{$i} {
        gap: $i * 0.25rem;
      }
    }

    // flex

    @for $i from 1 through 12 {
      .#{$key}\:flex-#{$i} {
        flex: $i $i 0%;
      }
    }

    .#{$key}\:flex-row {
      flex-direction: row;
    }
    .#{$key}\:flex-row-reverse {
      flex-direction: row-reverse;
    }
    .#{$key}\:flex-col {
      flex-direction: column;
    }
    .#{$key}\:flex-col-reverse {
      flex-direction: column-reverse;
    }

    // justify content

    .#{$key}\:justify-start {
      justify-content: flex-start;
    }
    .#{$key}\:justify-end {
      justify-content: flex-end;
    }
    .#{$key}\:justify-center {
      justify-content: center;
    }
    .#{$key}\:justify-between {
      justify-content: space-between;
    }
    .#{$key}\:justify-around {
      justify-content: space-around;
    }
    .#{$key}\:justify-evenly {
      justify-content: space-evenly;
    }

    // justify items

    .#{$key}\:justify-items-start {
      justify-items: flex-start;
    }
    .#{$key}\:justify-items-end {
      justify-items: flex-end;
    }
    .#{$key}\:justify-items-center {
      justify-items: center;
    }
    .#{$key}\:justify-items-stretch {
      justify-items: stretch;
    }

    // align items

    .#{$key}\:items-start {
      align-items: flex-start;
    }
    .#{$key}\:items-end {
      align-items: flex-end;
    }
    .#{$key}\:items-center {
      align-items: center;
    }
    .#{$key}\:items-stretch {
      align-items: stretch;
    }
    .#{$key}\:items-baseline {
      align-items: baseline;
    }

    // align content

    .#{$key}\:content-start {
      align-content: flex-start;
    }
    .#{$key}\:content-end {
      align-content: flex-end;
    }
    .#{$key}\:content-center {
      align-content: center;
    }
    .#{$key}\:content-between {
      align-content: space-between;
    }
    .#{$key}\:content-around {
      align-content: space-around;
    }
    .#{$key}\:content-stretch {
      align-content: stretch;
    }

    // text size

    @each $name, $value in $text-sizes {
      .#{$key}\:text-#{$name} {
        font-size: $value;
      }
    }
  }
}
