.pw-dialog {
  @include radius-sm;
  @include shadow-md;
  background-color: white;
  overflow: hidden;
  position: relative;
  width: fit-content;

  animation: zoomIn 150ms ease;

  &-portal {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    animation: fadeIn 150ms ease;
  }

  &-underlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &-header {
    @include font-bold;
    align-items: center;
    background-color: $oc-gray-1;
    border-bottom: 1px solid $oc-gray-4;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 1rem;
  }

  &-body {
    overflow: auto;
    padding: 1rem;
  }

  &-actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@include breakpoint("md") {
  .dialog {
    &-content {
      max-width: 50vw;
    }
  }
}
