@use '../mixins';

@mixin avatar-size($size, $font-size) {
  font-size: $font-size;
  height: $size;
  width: $size;
}

.pw-avatar {
  @include mixins.rounded-full;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 2rem;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  height: 6rem;
  width: 6rem;

  &.xs {
    @include avatar-size(2rem, 0.75rem);
  }
  &.sm {
    @include avatar-size(4rem, 1.25rem);
  }
  &.md {
    @include avatar-size(6rem, 2rem);
  }
  &.lg {
    @include avatar-size(8rem, 2.75rem);
  }
  &.xl {
    @include avatar-size(10rem, 3.25rem);
  }

  &-image {
    border-radius: inherit;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &-fallback {
    @include mixins.font-medium;
    align-items: center;
    background-color: var(--avatar-fallback-background);
    color: var(--avatar-fallback-foreground);
    display: flex;
    justify-content: center;
    line-height: 1;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
  }
}
