@use '../mixins';

.pw-breadcrumb {
  @include mixins.rounded-sm;
  background-color: var(--muted);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0.75rem 1rem;

  li {
    display: block;
    max-width: 24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: var(--primary);
    }

    &:not(:first-of-type)::before {
      color: var(--muted-foreground);
      content: '›';
      display: inline-block;
      padding: 0 0.5rem;
      pointer-events: none;
    }

    &.active {
      color: var(--foreground);
    }
  }
}
