@use '../mixins';

.pw-breadcrumb {
  @include mixins.rounded-sm;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    max-width: 24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: var(--muted-foreground);

      &:hover {
        color: var(--foreground);
        text-decoration: none;
      }
    }

    &:not(:first-of-type)::before {
      color: var(--foreground);
      content: '›';
      display: inline-block;
      padding: 0 0.5rem;
      pointer-events: none;
    }

    &.active {
      color: var(--foreground);
    }
  }
}
