@use '../functions';

@mixin button-size($font-size, $padding) {
  font-size: $font-size;
  padding: $padding;
}

.pw-button {
  &.outlined {
    background-color: transparent;
    border-color: var(--button);
    color: var(--button);
  }
  &.ghost {
    background-color: transparent;
    border-color: transparent;
    color: var(--button);
  }

  &.primary {
    --button: var(--primary);
    --button-foreground: var(--primary-foreground);
  }
  &.accent {
    --button: var(--accent);
    --button-foreground: var(--accent-foreground);
  }
  &.success {
    --button: var(--success);
    --button-foreground: var(--success-foreground);
  }
  &.warning {
    --button: var(--warning);
    --button-foreground: var(--warning-foreground);
  }
  &.error {
    --button: var(--error);
    --button-foreground: var(--error-foreground);
  }
  &.info {
    --button: var(--info);
    --button-foreground: var(--info-foreground);
  }

  &.xs {
    @include button-size(0.75rem, 0.25rem);
  }
  &.sm {
    @include button-size(0.875rem, 0.375rem);
  }
  &.md {
    @include button-size(1rem, 0.5rem);
  }
  &.lg {
    @include button-size(1.125rem, 0.625rem);
  }
  &.xl {
    @include button-size(1.25rem, 0.75rem);
  }
}
