@mixin button-size($font-size, $padding) {
  font-size: $font-size;
  padding: $padding;
}

.pw-button {
  &.primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--primary-foreground);

    &:enabled:hover {
      background-color: var(--primary-hover);
      border-color: var(--primary-hover);
    }
  }

  &.xs {
    @include button-size(0.75rem, 0.25rem);
  }

  &.sm {
    @include button-size(0.875rem, 0.375rem);
  }

  &.md {
    @include button-size(1rem, 0.5rem);
  }

  &.lg {
    @include button-size(1.125rem, 0.625rem);
  }

  &.xl {
    @include button-size(1.25rem, 0.75rem);
  }

  &.icon {
    align-items: center;
    display: inline-flex;
    height: 2rem;
    justify-content: center;
    padding: 0;
    width: 2rem;
  }
}
