.pw-callout {
  @include radius-sm;
  background-color: $oc-gray-0;
  border: 1px solid $oc-gray-4;
  color: $oc-gray-9;
  padding: 0.5rem 1rem;
  width: 100%;

  @each $map, $color in $oc-color-list {
    &.#{$color} {
      background-color: map-get($map, "0");
      border-color: map-get($map, "4");
      color: map-get($map, "9");
    }
  }
}
