@use '../mixins';

.pw-callout {
  @include mixins.rounded-sm;
  background-color: var(--callout-background);
  border: var(--border-width) solid var(--callout-border);
  color: var(--callout-foreground);
  padding: 0.75rem;
  width: 100%;
}
