@use '../mixins';

.pw-card {
  @include mixins.rounded-sm;
  @include mixins.shadow-sm;

  background-color: var(--background);
  border: var(--border-width) solid var(--border);
  min-width: 16rem;
  overflow: hidden;
  padding: 1rem;

  &.fluid {
    width: 100%;
  }
}
