@use '../mixins';

.pw-card {
  @include mixins.rounded-sm;
  @include mixins.shadow-sm;

  background-color: var(--card);
  border: var(--border-width) solid var(--border);
  color: var(--card-foreground);
  min-width: 16rem;
  overflow: hidden;
  padding: 1rem;
}
