.pw-container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;

  &.xs {
    max-width: 32rem;
  }
  &.sm {
    max-width: 40rem;
  }
  &.md {
    max-width: 48rem;
  }
  &.lg {
    max-width: 64rem;
  }
  &.xl {
    max-width: 80rem;
  }
  &.\32xl {
    max-width: 96rem;
  }
}
