.pw-dialog {
  @include radius-sm;
  @include shadow-md;
  background-color: var(--background);
  overflow: hidden;
  position: relative;
  width: fit-content;

  &-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    position: fixed;
    inset: 0;
    z-index: 1000;
  }

  &-underlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &-header {
    @include font-bold;
    align-items: center;
    background-color: var(--muted);
    border-bottom: var(--border-width) solid var(--border);
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 1rem;
  }

  &-body {
    overflow: auto;
    padding: 1rem;
  }

  &-actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
}

@include breakpoint('md') {
  .dialog {
    &-content {
      max-width: 50vw;
    }
  }
}
