@use '../mixins';

.pw-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-group {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &.check {
      align-items: center;
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  &-actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &.end {
      justify-content: end;
    }
  }

  &.horizontal {
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@include mixins.breakpoint('xs') {
  .pw-form {
    &-row {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
