@mixin icon-button-size($size, $icon-size) {
  height: $size;
  line-height: $size;
  max-height: $size;
  max-width: $size;
  min-height: $size;
  min-width: $size;
  width: $size;

  .material-icons,
  .material-symbols,
  .material-symbols-outlined {
    font-size: $icon-size;
  }
}

.pw-icon-button {
  @include font-bold;
  @include radius-sm;
  @include transition-fast;
  @include icon-button-size(2rem, 1.25rem);
  align-items: center;
  color: $oc-gray-9;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 0;
  text-align: center;

  &:disabled {
    background-color: $oc-gray-0 !important;
    border-color: $oc-gray-0 !important;
    color: $oc-gray-5 !important;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $oc-gray-0;
    }
    &:active {
      background-color: $oc-gray-1;
    }
  }

  .material-icons,
  .material-symbols,
  .material-symbols-outlined {
    display: block;
  }

  &.rounded {
    border-radius: 100%;
  }

  &.xs {
    @include icon-button-size(1.5rem, 1rem);
  }

  &.sm {
    @include icon-button-size(1.75rem, 1.125rem);
  }

  &.md {
    @include icon-button-size(2rem, 1.25rem);
  }

  &.lg {
    @include icon-button-size(2.5rem, 1.5rem);
  }

  &.xl {
    @include icon-button-size(3rem, 1.75rem);
  }

  @each $map, $color in $oc-color-list {
    &.#{$color} {
      color: map-get($map, "9");

      &:not(:disabled) {
        &:hover {
          background-color: map-get($map, "0");
        }
        &:active {
          background-color: map-get($map, "1");
        }
      }
    }
  }

  &.primary {
    color: var(--primary-9);

    &:not(:disabled) {
      &:hover {
        background-color: var(--primary-0);
      }
      &:active {
        background-color: var(--primary-1);
      }
    }
  }

  &.outlined {
    border: 1px solid $oc-gray-9;
    color: $oc-gray-9;

    &:not(:disabled) {
      &:hover {
        background-color: $oc-gray-0;
      }
      &:active {
        background-color: $oc-gray-1;
      }
    }

    @each $map, $color in $oc-color-list {
      &.#{$color} {
        border: 1px solid map-get($map, "9");
        color: map-get($map, "9");

        &:not(:disabled) {
          &:hover {
            background-color: map-get($map, "0");
          }
          &:active {
            background-color: map-get($map, "1");
          }
        }
      }
    }

    &.primary {
      border: 1px solid var(--primary-9);
      color: var(--primary-9);

      &:not(:disabled) {
        &:hover {
          background-color: var(--primary-0);
        }
        &:active {
          background-color: var(--primary-1);
        }
      }
    }
  }

  &.ghost {
    border: 1px solid $oc-gray-9;
    color: $oc-gray-9;

    &:not(:disabled) {
      &:hover {
        background-color: $oc-gray-9;
        color: white;
      }
      &:active {
        @include shadow-sm;
        background-color: $oc-gray-9;
        color: white;
      }
    }

    @each $map, $color in $oc-color-list {
      &.#{$color} {
        border: 1px solid map-get($map, "9");
        color: map-get($map, "9");

        &:not(:disabled) {
          &:hover {
            background-color: map-get($map, "9");
            color: white;
          }
          &:active {
            @include shadow-sm;
            background-color: map-get($map, "9");
            color: white;
          }
        }
      }
    }

    &.primary {
      border: 1px solid var(--primary-9);
      color: var(--primary-9);

      &:not(:disabled) {
        &:hover {
          background-color: var(--primary-9);
          color: white;
        }
        &:active {
          @include shadow-sm;
          background-color: var(--primary-9);
          color: white;
        }
      }
    }
  }

  &.raised {
    @include shadow-xs;
    background-color: $oc-gray-9;
    color: white;

    &:not(:disabled) {
      &:hover {
        @include shadow-sm;
        background-color: $oc-gray-9;
      }
      &:active {
        @include shadow-md;
        background-color: $oc-gray-9;
      }
    }

    @each $map, $color in $oc-color-list {
      &.#{$color} {
        background-color: map-get($map, "9");
        color: white;

        &:not(:disabled) {
          &:hover {
            background-color: map-get($map, "9");
          }
          &:active {
            background-color: map-get($map, "9");
          }
        }
      }
    }

    &.primary {
      background-color: var(--primary-9);
      color: white;

      &:not(:disabled) {
        &:hover {
          background-color: var(--primary-9);
        }
        &:active {
          background-color: var(--primary-9);
        }
      }
    }
  }
}
