@use '../mixins';

.pw-pagination {
  @include mixins.rounded-sm;
  border: var(--border-width) solid var(--border);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: fit-content;

  li {
    display: block;
    padding: 0.25rem 0.5rem;

    a {
      color: var(--primary);
      text-decoration: none;
    }

    &:not(:last-of-type) {
      border-right: var(--border-width) solid var(--border);
    }

    &:first-child a {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child a {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }

    &.active {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--primary-foreground);

      a {
        color: var(--primary-foreground);
      }
    }
  }
}
