.pw-pagination {
  @include radius-sm;
  border: var(--border-width) solid var(--border);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: fit-content;

  &-item {
    &:not(:last-of-type) {
      border-right: var(--border-width) solid var(--border);
    }

    &:first-child .pw-pagination-link {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child .pw-pagination-link {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &.disabled .pw-pagination-link {
      background-color: var(--disabled);
      color: var(--disabled-foreground);
      cursor: auto;
      pointer-events: none;
    }

    &.active .pw-pagination-link {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--primary-foreground);
      z-index: 1;
    }
  }

  &-link {
    color: var(--primary);
    display: block;
    padding: 0.25rem 0.5rem;

    &:enabled,
    &:not(.disabled) {
      cursor: pointer;
    }
  }
}
