@mixin spinner-size($border-width, $size) {
  border-width: $border-width;
  height: $size;
  width: $size;
}

.pw-spinner {
  &:before {
    animation: spin 1.5s linear infinite;
    border: 0.25rem solid $oc-gray-3;
    border-bottom-color: $oc-indigo-9;
    border-radius: 50%;
    border-top-color: $oc-indigo-9;
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }

  &-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
  }

  &.xs {
    &:before {
      @include spinner-size(0.125rem, 1rem);
    }
  }

  &.sm {
    &:before {
      @include spinner-size(0.1875rem, 1.5rem);
    }
  }

  &.md {
    &:before {
      @include spinner-size(0.25rem, 2rem);
    }
  }

  &.lg {
    &:before {
      @include spinner-size(0.3125rem, 2.5rem);
    }
  }

  &.xl {
    &:before {
      @include spinner-size(0.375rem, 3rem);
    }
  }
}
