@use '../mixins';

@mixin spinner-size($border-width, $size) {
  border-width: $border-width;
  height: $size;
  width: $size;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pw-spinner {
  &:before {
    @include mixins.rounded-full;
    animation: spin 1.5s linear infinite;
    border: 0.375rem solid var(--border);
    border-bottom-color: var(--primary);
    border-top-color: var(--primary);
    content: '';
    display: block;
    height: 3rem;
    width: 3rem;
  }

  &-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
  }

  &.xs {
    &:before {
      @include spinner-size(0.125rem, 1rem);
    }
  }
  &.sm {
    &:before {
      @include spinner-size(0.25rem, 2rem);
    }
  }
  &.md {
    &:before {
      @include spinner-size(0.375rem, 3rem);
    }
  }
  &.lg {
    &:before {
      @include spinner-size(0.5rem, 4rem);
    }
  }
  &.xl {
    &:before {
      @include spinner-size(0.75rem, 6rem);
    }
  }
}
