@use '../mixins';

.pw-tabs {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include mixins.font-bold;
    align-items: center;
    border-bottom: 2px solid transparent;
    color: var(--muted-foreground);
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    padding: 0.75rem;

    &:hover {
      color: var(--foreground);
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }

    &.active {
      color: var(--primary);
      border-bottom: 2px solid var(--primary);
    }
  }
}
