:root {
  --rp-bg: #faf4ed;
  --rp-surface: #fffaf3;
  --rp-border: #f2e9e1;

  --rp-text: #575279;
  --rp-muted: #9893a5;

  --rp-love: #b4637a;
  --rp-gold: #ea9d34;
  --rp-rose: #d7827e;
  --rp-pine: #286983;
  --rp-foam: #56949f;
  --rp-iris: #907aa9;
  --rp-highlight: #cecacd;
}

[data-theme='dark'] {
  --rp-bg: #191724;
  --rp-surface: #1f1d2e;
  --rp-border: #26233a;

  --rp-text: #e0def4;
  --rp-muted: #908caa;

  --rp-love: #eb6f92;
  --rp-gold: #f6c177;
  --rp-rose: #ea9a97;
  --rp-pine: #31748f;
  --rp-foam: #9ccfd8;
  --rp-iris: #c4a7e7;
  --rp-highlight: #403d52;
}

:root {
  --background: var(--rp-bg);
  --foreground: var(--rp-text);

  --border: var(--rp-border);

  --primary: var(--rp-iris);
  --primary-foreground: var(--rp-bg);

  --accent: var(--rp-rose);
  --accent-foreground: var(--rp-bg);

  --success: var(--rp-pine);
  --success-foreground: var(--rp-bg);

  --warning: var(--rp-gold);
  --warning-foreground: var(--rp-bg);

  --error: var(--rp-love);
  --error-foreground: var(--rp-bg);

  --info: var(--rp-foam);
  --info-foreground: var(--rp-bg);

  --muted: var(--rp-surface);
  --muted-foreground: var(--rp-muted);

  --selection: var(--rp-highlight);
  --selection-foreground: var(--rp-text);
}
